################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureDevOpsConnector/v16/Server/sqlite3
/AzureDevOpsConnector/obj
/AzureDevOpsConnector/bin/Debug/netcoreapp2.2
/.vs
